.jumbotron{
    background-image: url("assets/images/train.jpg");
    font-size: 50px;
    
        font-family: 'Teleindicadores1Regular';
        font-weight: normal;
        font-style: normal;
    
}

footer{
    text-align: center;
}

body{
    color:purple;
}

h3{
    color:rgba(10, 121, 224, 0.822);
    font-family: 'Teleindicadores1Regular';
        font-weight: normal;
        font-style: normal;
    background-color: aquamarine;
    border: 1px;
}