.jumbotron {
    background-image: url("../images/train.jpg");
    background-image: cover;
    font-family: 'Teleindicadores1Regular';
    font-weight: normal;
    font-style: normal;
    min-height: 200px;
    margin-bottom: 50px;
}

body{
    background-color: rgb(0, 162, 255);
}

footer {
    background: rgb(102, 102, 102);
    color: yellow;
    padding: 30px o;
    clear: both;
    border-top: 8px solid rgb(206, 218, 32);
    color: rgb(0, 225, 255);
    font-size: 20px;
    text-align: center;
}
h1{
    color:rgb(255, 8, 0);
    font-size: 75px;
}
h2{
    color:red;
    font-size: 75px;
}
h3 {
    color: rgba(224, 10, 92, 0.822);
    font-family: 'Teleindicadores1Regular';
    font-weight: normal;
    font-style: normal;
    background-color: rgb(253, 255, 127);
    border: 1px solid;
}

.btn{
    margin-top: 10px;
    background-color: rgb(251, 255, 0);
    color: rgb(255, 0, 149);
    cursor: pointer;
}



th{
    color:rgba(238, 180, 20, 0.993);
    font-family: 'IntervalBoldSlanted';
   font-weight: normal;
   font-style: normal;
}

label{
    color:rgba(238, 180, 20, 0.993);
    font-family: 'IntervalBoldSlanted';
    font-weight: normal;
    font-style: normal;
}

