.jumbotron{
    background-image: url("assests/images/train.jpg");
    
        font-family: 'Teleindicadores1Regular';
        font-weight: normal;
        font-style: normal;
    
}

footer{
    text-align: center;
}

body{
    color: lightblue;
}

h3{
    color:blue;
}